body,
body *,
body *::before,
body *::after {margin:0;padding:0;border:0;background:transparent;box-sizing:border-box;text-decoration:none;outline:none;font-family:inherit;}
ol, ul, li {list-style:none;display:block;}
table {border-collapse: collapse;border-spacing:0;}
a img {border: none;}

input,
textarea,
select,
button,
input{appearance: none; border-radius: 0;}

button,
a{cursor: pointer; color: inherit;}
textarea{resize: none;}

[readonly] + span,
[readonly]{pointer-events: none; opacity: .4;}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 6%;
    padding-top: 1%;
    cursor: url('imgs/sapceship.png'), pointer;
}

.el {
    padding: 10px;
}

input {
    margin-top: 15px;
}

.mainImgLarge {
    padding: 50px;
    height: 100vh;
    width: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    transition: 1.5s;
}

.mainImgSmall {
    height: 300px;
    width: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    transition: 1s;
}

/* img{
    border-radius: 5%;
} */


.mainImgLarge:hover{
    border: 1px solid rgb(119, 3, 3);
    padding: 0px;
    border-radius: 5%;
    transition: 3s;
    cursor: url('imgs/satelite.png'), pointer;
    /* cursor: url('imgs/logo.png'), pointer; */
    /* cursor: url('imgs/spaceship.png'), pointer; */

    /* transition-delay: 1s; */

}

.mainImgSmall:hover{
    border: 1px solid rgb(119, 3, 3);
    padding: 0px;
    border-radius: 5%;
    transition: 1s;
    cursor: url('imgs/logo.png'), pointer;

}

/* #sectionA {
    background-color: red;
    position: absolute;
    top: -600px;
    left: 0;
    width: 100%

}

#sectionBottom {
    background-color: green;
    position: absolute;
    top: 1000px;
    left: 0;
    bottom: 400px;
    width: 100%
} 
*/


/* img{

    margin-top: 0px;
    margin-left: 0px;
    width: 80vw;
    height: 100vh;
    transition: all 1s;
} */


/* img{

    margin-top: -200px;
    margin-left: -200px;
    width: 130vw;
    height: 130vh;
    transition: all 1s; 
}
    */